/* CONTACT PAGE */

/* CHANGE BODY WIDTH IN PAGE */
/* PC */
@media screen and (min-width: 900px) {
    /* HALF PAGE COLUMNS */
    .half-page {
        flex-direction: row;
    }

    .half-column {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

/* TABLETS*/
@media screen and (min-width: 600px) and (max-width: 900px) {
    /* HALF PAGE COLUMNS */
    .half-page {
        flex-direction: column;
    }

    .selected-value {
        margin-top: 1.5vw;
    }
}

/* SMARTPHONES */
@media screen and (max-width: 600px) {
    /* HALF PAGE COLUMNS */
    .half-page {
        flex-direction: column;
    }
    
    .selected-value {
        margin-top: 5vw;
    }
}

/* HALF PAGE COLUMNS */
.half-page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.half-column > a > p {
    margin: 0.25em 0;
}

/* FOOTER */
footer {
    position: absolute;
    bottom: 0;
}


