/* GALLERY */
#gallery {
    display: flex;
    flex-wrap: wrap;
    
}

#gallery > a {
    flex: 1 1 20rem;
    margin: 0.2rem;
}

#gallery > a > img {
    width: 100% !important;
    height: auto !important;
    margin: 0;
}

/* CHANGE BODY WIDTH IN PAGE */
@media only screen {
    body {
        margin: 5em auto;
        max-width: 80%;
        color: rgb(55, 53, 47);
    }
}