/* GALLERY */

/* PC AND TABLET */
@media screen and (min-width: 600px) {
    body {
        max-width: 80%;
    }
}

/* SMARTPHONES */
@media screen and (max-width: 600px) {
    body {
        max-width: 90%;
    }
}

#gallery {
    display: flex;
    flex-wrap: wrap;
}

#gallery > a {
    flex: 1 1 20rem;
    margin: 0.2rem;
}

#gallery > a > img {
    width: 100% !important;
    height: auto !important;
    margin: 0;
}
