/* WEB RELATED */

* {
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html {
    scroll-behavior: smooth;
}

/* BODY */

html,
body {
    margin: 4em 0;
    padding: 0;
}

@media only screen {
    body {
        margin: 0 auto;
        color: rgb(55, 53, 47);
    }
}

/* PC */
@media screen and (min-width: 900px) {
    body {
        max-width: 60%;
    }

    .page-title {
        font-size: 4vw;
    }

    /* NAVBAR */
    #navbar {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        position: sticky;
        top: 0;
        overflow: hidden;
        background-color: white;
        padding-bottom: 1em;
    }

    #navbar div {
        display: flex;
    }

    #navbar a {
        float: right;
        display: block;
        padding: 0.5em;
        text-decoration: none;
    }

    /* COLUMNS, COLLECTIONS */
    .column-list {
        display: flex;
        justify-content: space-between;
    }

    .column {
        padding: 1em;
    }

    #introduction-text {
        width: 60%;
    }
    
    #introduction-picture {
        padding-top: 0;
        width: 40%;
    }
}

/* TABLETS*/
@media screen and (min-width: 600px) and (max-width: 900px) {
    body {
        max-width: 80%;
    }

    .page-title {
        font-size: 5vw;
    }

    /* NAVBAR */
    #navbar {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        position: sticky;
        top: 0;
        overflow: hidden;
        background-color: white;
        padding-bottom: 1em;
    }

    #navbar div {
        display: flex;
    }

    #navbar a {
        float: right;
        display: block;
        padding: 0.5em;
        text-decoration: none;
    }

    /* COLUMNS, COLLECTIONS */
    .column-list {
        display: flex;
        justify-content: space-between;
    }

    .column {
        padding: 1em;
    }

    #introduction-text {
        width: 65%;
    }

    #introduction-picture {
        padding-top: 0;
        width: 35%;
    }
}

/* SMARTPHONES */
@media screen and (max-width: 600px) {
    body {
        max-width: 90%;
    }

    .page-title {
        font-size: 8vw;
    }

    /* NAVBAR */
    #navbar {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: sticky;
        top: 0;
        overflow: hidden;
        background-color: white;
        padding-top: 5vw;
        padding-bottom: 1em;
        flex-direction: column;
    }

    #navbar a {
        float: left;
        display: block;
        padding: 0.5em;
        text-decoration: none;
    }

    /* COLUMNS, COLLECTIONS */
    .column-list {
        display: flex;
        flex-direction: column-reverse;
        align-content: stretch;
        justify-content: flex-end;
        align-items: stretch;
        flex-wrap: nowrap;
    }

    .column {
        width: 100%;
    }
    
    #introduction-picture {
        padding-top: 0;
        width: 100%;
    }
}

body {
    line-height: 1.5;
    white-space: normal;
    text-align: justify;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-wrap: wrap;
}

/* TEXT STYLE */

.sans { font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; }
.code { font-family: "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono", Courier, monospace; }
.serif { font-family: Lyon-Text, Georgia, ui-serif, serif; }
.mono { font-family: iawriter-mono, Nitti, Menlo, Courier, monospace; }

.selected-value {
	display: inline-block;
	padding: 0 0.5em;
	background: rgba(206, 205, 202, 0.5);
	border-radius: 3px;
	margin-right: 0.5em;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	white-space: nowrap;
}

.select-value-color-purple { background-color: rgba(232, 222, 238, 1); }
.select-value-color-green { background-color: rgba(219, 237, 219, 1); }
.select-value-color-yellow { background-color: rgba(249, 228, 188, 1); }

/*
.select-value-color-pink { background-color: rgba(245, 224, 233, 1); }
.select-value-color-purple { background-color: rgba(232, 222, 238, 1); }
.select-value-color-green { background-color: rgba(219, 237, 219, 1); }
.select-value-color-gray { background-color: rgba(227, 226, 224, 1); }
.select-value-color-transparentGray { background-color: rgba(227, 226, 224, 0); }
.select-value-color-translucentGray { background-color: rgba(0, 0, 0, 0.06); }
.select-value-color-orange { background-color: rgba(250, 222, 201, 1); }
.select-value-color-brown { background-color: rgba(238, 224, 218, 1); }
.select-value-color-red { background-color: rgba(255, 226, 221, 1); }
.select-value-color-yellow { background-color: rgba(249, 228, 188, 1); }
.select-value-color-blue { background-color: rgba(211, 229, 239, 1); }
*/

/* LINKS */

a,
a.visited {
    color: inherit;
    text-decoration: none;
}

a.contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

a.underlined {
    text-decoration: underline;
}

p.underlined {
    text-decoration: underline;
    padding-left: 0.5em;
}

/* HEADERS */
.page-title {
    font-weight: 700;
    position: inherit;
}

h1,
h2,
h3,
h4 {
    letter-spacing: -0.01em;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 0;
}

h1 {
    font-size: 2.25rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

h1.section-title {
    padding: 0.5em 0 0 0.5em;
}

h2 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

h2.project-title {
    font-size: 1.5rem;
    margin-top: 1rem;
    font-style: italic;
    text-align: center;
}

h3 {
    font-size: 1.25rem;
    margin-top: 1.25rem;
}

h4 {
    font-size: 1em;
    margin-top: 1.25rem;
    font-weight: 600;
}

/* FIGURES, IMAGES, ICONS */

/*figure {
    margin: 1.25em 0;
    page-break-inside: avoid;
}*/

img {
    width: 100%;
    margin: 1.25em 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}  

img.icon {
    border-radius: 3px;
}

img.profile {
    margin: 1.5em 0;
    padding: 0;
    border-radius: 10px;
    text-align: center;
}

img.copyright {
    margin: 0;
}

.icon {
    display: inline-block;
    max-width: 1.2em;
    height: auto;
    vertical-align: middle;
    margin: -1.25em 0;
}

.text-icon {
    border: 1px solid #000;
    text-align: center;
}

/* PROJECT FLEX */

.project-container {
    display: flex;
    flex-wrap: wrap;
}

.project-container > div {
    flex: 1 1 20rem;
    margin: 0.2rem;
    padding: 0 1em;
}

.project-roles {
    display: flex;
    width: 100%;
}

.project-roles > p {
    flex: 1 1 20rem;
    margin: 0.2rem;
}

/* STEPPER */

.stepper-wrapper {
    margin-top: auto;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    
    /* quitar con las skills*/
    padding: 1em 25em 0 1em;
}

.stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;;
    flex: 1;
}

.stepper-item::before {
    position: absolute;
    border-bottom: 2px solid #ccc;
    left: -50%;
}

.stepper-item::after {
    position: absolute;
    border-bottom: 2px solid #ccc;
    left: 50%;
}

.stepper-item .step-counter {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 12px;
    background: #ccc;
    margin-inline: 10px;
}

.stepper-item.completed .step-counter {
    background-color: rgb(72, 130, 7);
}

.stepper-item .step-counter {
    background-color: rgb(198, 205, 191);
}

.comment {
    font-size: 0.75rem;
    margin: -10px 0 15px 0;
    
    /* quitar con las skills*/
    padding-left: 1rem;
}

/* LABELS */

label {
    padding-right: 15px;
}

/* SKILLS */

.skills {
    align-items: center;
    justify-content: space-between;
    place-items: self-start;
    padding: 0;
    margin-top: 5px;
}

.skills > progress {
    justify-self: end;
}

/* FOOTER */
footer {
    width: 100%;
    margin-top: 3.5rem;
    padding: 1.5rem;
    position: absolute;
    left: 0;
    text-align: center;
    background-color: #e7e7e7;
    font-size: 0.85rem;
}
