/* WEB RELATED */

* {
    box-sizing: border-box;
    scrollbar-width: 12px;
    scrollbar-color: rgba(255, 255, 255, 0.2)  rgba(0, 0, 0, 0);
}

html {
    scroll-behavior: smooth;
}

/* BODY */

html,
body {
    margin: 1.5em 0;
    padding: 0;
}
@media only screen {
    body {
        margin: 5em auto;
        max-width: 60%;
        color: rgb(55, 53, 47);
    }
}

body {
    line-height: 1.5;
    white-space: wrap;
    text-align: justify;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-wrap: wrap;
}

/* TEXT STYLE */

.sans { font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; }
.code { font-family: "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono", Courier, monospace; }
.serif { font-family: Lyon-Text, Georgia, ui-serif, serif; }
.mono { font-family: iawriter-mono, Nitti, Menlo, Courier, monospace; }

.selected-value {
	display: inline-block;
	padding: 0 0.5em;
	background: rgba(206, 205, 202, 0.5);
	border-radius: 3px;
	margin-right: 0.5em;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	white-space: nowrap;
}

.select-value-color-purple { background-color: rgba(232, 222, 238, 1); }
.select-value-color-green { background-color: rgba(219, 237, 219, 1); }
.select-value-color-yellow { background-color: rgba(249, 228, 188, 1); }

/*
.select-value-color-pink { background-color: rgba(245, 224, 233, 1); }
.select-value-color-purple { background-color: rgba(232, 222, 238, 1); }
.select-value-color-green { background-color: rgba(219, 237, 219, 1); }
.select-value-color-gray { background-color: rgba(227, 226, 224, 1); }
.select-value-color-transparentGray { background-color: rgba(227, 226, 224, 0); }
.select-value-color-translucentGray { background-color: rgba(0, 0, 0, 0.06); }
.select-value-color-orange { background-color: rgba(250, 222, 201, 1); }
.select-value-color-brown { background-color: rgba(238, 224, 218, 1); }
.select-value-color-red { background-color: rgba(255, 226, 221, 1); }
.select-value-color-yellow { background-color: rgba(249, 228, 188, 1); }
.select-value-color-blue { background-color: rgba(211, 229, 239, 1); }
*/

/* LINKS */

a,
a.visited {
    color: inherit;
    text-decoration: none;
}

a.underlined {
    text-decoration: underline;
}

/* HEADERS */

.page-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.75em;
}

h1,
h2,
h3,
h4 {
    letter-spacing: -0.01em;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 0;
}

h1 {
    font-size: 2.25rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0em;
}

h1.section-title {
    padding: 1em 0 0 0.5em;
}

h2 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

h2.project-title {
    font-size: 1.5rem;
    margin-top: 1rem;
    font-style: italic;
    text-align: center;
}

h3 {
    font-size: 1.25rem;
    margin-top: 1.25rem;
}

h4 {
    font-size: 1em;
    margin-top: 1.25rem;
    font-weight: 600;
}

/* FIGURES, IMAGES, ICONS */

/*figure {
    margin: 1.25em 0;
    page-break-inside: avoid;
}*/

img {
    width: 100%;
    margin: 1.25em 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}  

img.icon {
    border-radius: 3px;
}

img.profile {
    margin: 1.5em 0;
    padding: 0;
    border-radius: 10px;
    text-align: center;
}

.icon {
    display: inline-block;
    max-width: 1.2em;
    max-height: 1.2em;
    text-decoration: none;
    vertical-align: text-bottom;
    margin-right: 0.5em;
}

.text-icon {
    border: 1px solid #000;
    text-align: center;
}

/* SCROLLING */ /*

.project-container {
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x proximity;
    white-space: nowrap;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: row;
    

    background: greenyellow;
    width: 100%;
}

.project {
    width: 35%;
    padding-left: 20px;
    padding-right: 20px;
    scroll-snap-align: center none;
    flex: none;
    flex-direction: row;
}

.project-positions {
    text-align: left;
}

/*.project > p {
    
}*/

/* COLUMNS, COLLECTIONS */

.column-list {
    display: flex;
    justify-content: space-between;
}

.project {
    padding: 0 1em;
}

.column {
    padding: 1em;
}

.project-positions {
    text-align: left;
}
